<div class="card" *ngIf="!payed">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col">
                        <h4><b>Shopping Cart</b></h4>
                    </div>
                    <div class="col align-self-center text-right text-muted">1 items</div>
                </div>
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let product of cart">
                    <div class="row main align-items-center">
                        <div class="col-2"><img name="foodimage" alt="Card image" class="img-fluid" [src]="product.image"></div>
                        <div class="col">
                            
                            <div class="row">{{product.name}}</div>
                        </div>
                        <div class="col"> {{product.price | currency}} <button type="submit" (click)="deleteProduct(product)" class="close">&#10005;</button></div>
                    </div>
                </li>
            </ul>
            <button (click)="addProduct()">add product</button>
            
            
            <div class="back-to-shop"><a routerLink="/home">&leftarrow;<span class="text-muted">Back to shop</span></a></div>
        </div>
        <div class="col-md-4 gradient-custom summary">
            <div>
                <h5><b>Summary</b></h5>
            </div>
            <hr>
            
            <ul>
                <li *ngFor="let product of cart">
            <div class="row">
                <div class="col" style="padding-left:0;">{{product.name}}</div>
                <div class="col text-right">{{product.price|currency}}</div>
            </div>
            </li>
             </ul>
            <form>
            
            </form>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <!-- <div class="col">TOTAL PRICE</div>
                <div class="col text-right">&#8377; {{itemDetails.cost}}</div> -->
            </div> <button (click)="onCheckout()" *ngIf="!deleted" class="btn">CHECKOUT</button>
            <button (click)="onCheckout()" *ngIf="deleted" class="btn" disabled>CHECKOUT</button>
        </div>
    </div>
</div>

